name: Dummy specs

on:
  push:
    branches:
      - 'main'
      - 'next'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1.2'
      - name: Install dependencies
        run: |
          bundle install
          yarn install
          sudo yarn global add yalc

      - name: Run tests
        run: bundle exec rake run_spec:dummy
